<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="index::head">
	<meta charset="UTF-8">
	<title>Title</title>
</head>
<body>
<div class="regBox mt_10">
	<center>
		<a href="/" th:href="@{'/'}"><h2>BLOG</h2></a>
	</center>
</div>
<center>
<h2>Add Post</h2>
	<div th:if="${success != null}">
		<span th:text="${success}"></span>
	</div>
	<form method="post">
		<table>
			<tr>
				<td>Name:</td>
				<td><input type="text" name="name" /></td>
			</tr>
			<tr>
				<td>Content:</td>
				<td><input type="text" name="content" /></td>
			</tr>
			<tr>
				<td>Category:</td>
				<td><select name="category">
					<option th:each="category : ${categorys}" th:value="${category.getId()}" th:text="${category.getName()}"></option>
				</select></td>
			</tr>
			<tr>
				<td></td>
				<td><input type="submit" value="Post" /></td>
			</tr>
		</table>
	</form>
	<br />
	<br />
	<a href="/">Back to Home</a>
</center>
</body>
</html>